<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
    erraiBusRemoteCommunicationEnabled = false;
  </script>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>UberFire Showcase</title>
</head>
<body>

  <script type="text/javascript">
    var current_user = { name:"@{name}", roles:[@{roles}] }
  </script>

  <!-- loading indicator to display while the app is being loaded -->
  <div id="loading">
    <div class="loading-indicator">
        Please wait<br/>
        <span id="loading-msg">Loading application...</span>
    </div>
  </div>

  <!-- The GWT js file generated at compile time -->
  <script type="text/javascript" src='UberFireTutorial.nocache.js'></script>
</body>
</html>
