<div class="container-fluid" style="position: relative; top: 0; height: 100%">
 <div class="row" style="position: relative; top: 0; height: 100%">
  <div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2" style="position: relative; top: 0; height: 40px">
   <div id="breadcrumbPanel">
   </div>
   <div id="contentArea" style="position: relative; top: 0; height: 100%"> <!-- this height will need to be adjusted in onResize() to compensate for the 40px above -->
   </div> <!-- /contentArea -->
  </div> <!-- /breadcrumb and content col -->
  <div id="leftHandColumn" class="col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-10 sidebar-pf sidebar-pf-left" style="position: relative; top: 0; height: 100%">
  </div>
 </div> <!-- /row -->
</div> <!-- /container -->