<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <!--  TODO (barebones): remove this -->
  <servlet>
    <servlet-name>UberFireServlet</servlet-name>
    <servlet-class>org.uberfire.server.UberfireServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>UberFireServlet</servlet-name>
    <url-pattern>/UberFireTutorial/UberFire.html</url-pattern>
  </servlet-mapping>

</web-app>
