<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <filter>
    <filter-name>UberFire Security Filter</filter-name>
    <filter-class>
      org.uberfire.security.server.UberFireSecurityFilter
    </filter-class>
    <init-param>
      <param-name>org.uberfire.cookie.id</param-name>
      <param-value>uberfire-tutorial-cookie</param-value>
    </init-param>
    <init-param>
      <param-name>org.uberfire.auth.force.url</param-name>
      <param-value>/UberFireTutorial/UberFire.html</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>UberFire Security Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>UberFireServlet</servlet-name>
    <servlet-class>org.uberfire.server.UberfireServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>UberFireServlet</servlet-name>
    <url-pattern>/UberFireTutorial/UberFire.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ErraiServlet</servlet-name>
    <servlet-class>org.jboss.errai.bus.server.servlet.DefaultBlockingServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>ErraiServlet</servlet-name>
    <url-pattern>*.erraiBus</url-pattern>
  </servlet-mapping>

</web-app>
